:root {
    /* The Base Layers (Whites & Neutrals) */
    /* Inspired by minimally processed leaves, these are perfect for backgrounds, cards, and subtle UI borders. */
    --silver-needle:   hsla(30, 62%, 98%, 1);
    --white-pekoe:     hsla(35, 40%, 96%, 1);
    --steamed-vapor:   hsla(35, 20%, 90%, 1);  
    --dried-clay:      hsla(30, 20%, 85%, 1);  

    /* The Vibrant Infusions (Accents & UI States) */
    --wilted-rose:     hsla(26, 30%, 80%, 1); 
    --terracotta-clay: hsla(30, 15%, 65%, 1);

        /* Green */
        --jasmine-bud: hsla(70, 40%, 88%, 1);
        --matcha-powder:  hsla(94, 42%, 62%, 1);
        --iron-buddha:hsla(120, 15%, 40%, 1);

        /* Blue */
        --earl-grey:	hsla(200, 15%, 50%, 1);
        --butterfly-pea: hsla(230, 45%, 45%, 1);

        /* Yellow */
        --golden-yunnan:hsla(42, 85%, 50%, 1);
        --masala-chai:	hsla(24, 52%, 50%, 1);

        /* Red */
        --hibiscus-tisane: hsla(350, 60%, 50%, 1);

    /* Depth (The "Body") */
    --roasted-oolong:    hsla(30, 20%, 42%, 1);
    --lapsang-souchong: hsla(16, 5%, 30%, 1);

    /* The Deep Brews (Dark Solids & Text) */
    --ceylon-leaf:  hsla(28, 40%, 16%, 1);
    --aged-pu-erh:	hsla(15, 25%, 12%, 1);
    --assam-black:     hsla(23, 40%, 5%, 1);
}