/* Foundations */
*, *::before, *::after {
    box-sizing: border-box;
  }

header {
    height: auto;
    width: 100%;
    position: fixed;
    transition: box-shadow 200ms ease;
    z-index: 1000;

    /* Gradient from solid to transparent */
    background: linear-gradient(
        to bottom, 
        hsla(0, 0%, 100%, 0.8) 0%,   /* Solid at the very top */
        hsla(0, 0%, 100%, 0) 100%   /* Fully invisible */
    );
}

section[id] {
    scroll-margin-top: 0px;       /* Same or slightly more than header height */
  }

html, body {
    background-color: #fff;
    font-family: 'Inter', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    line-height: 1.4;
    margin: 0;
    padding: 0;

    opacity: 1;
    transition: opacity 0.5s ease;
}

body.loading {        /* Optional: if you want a fade-in on load */
  opacity: 0;
}

.container {
    width: 90%;
    max-width: 980px;
    margin-inline: auto;
    padding-inline: clamp(8px, 16px, 24px);
}

/* Rounded divider */
hr {
    border: none;
    border-top: 1px solid #999;
    border-radius: 9999px;

    margin: 0;
    padding: 0;
  }

/* Card components */
.card {
    display: block;
    height: fit-content;
    background-color: #fff;
    
    border-radius: 16px;
    overflow: hidden;               /* keeps image corners rounded */
    transition: transform .25s ease, 
                box-shadow .25s ease;
  }
  
.card:hover,
.card:focus-within {
    box-shadow: 0 0 0 1px hsla(0, 0%, 20%, 0.15),
                0px 0px 12px hsla(0,0%,20%,0.1);
  }
  
.card .card-img {             /* Smooth images */
    height: 256px;          /* set a consistent image height */
    display: block;            /* removes inline-image whitespace */
    width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 0;          /* override Bootstrap's corner radius */
    object-fit: cover;         /* optional, keeps cropping clean */
  }
  
.card .card-body {                  /* Card title + body */
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    padding: clamp(1.5rem, 1.5vw, 2rem);
  }
  
.card h3 {
    font-weight: 500;
    margin-bottom: .75rem;
  }
  
p .card-text {
    margin: 0;
    margin-bottom: 0;
  }

/* Badge */
.badge, .status {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  padding: 0.5em 1em;
  margin-bottom: 0.5rem;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #111;
  background: #e7e7e7;
  border-radius: 12px;

}

.status p {
  margin: 0px;
  text-transform: none;
}

/* Animated status dot */
.status::before {
  content: "";
  width: 8px;
  height: 8px;
  background: #00d1b2; /* Success Green */
  border-radius: 50%;
  box-shadow: 0 0 0 0 rgba(0, 209, 178, 0.7);
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% { transform: scale(0.95); box-shadow: 0 0 0 0 rgba(0, 209, 178, 0.7); }
  70% { transform: scale(1); box-shadow: 0 0 0 6px rgba(0, 209, 178, 00); }
  100% { transform: scale(0.95); box-shadow: 0 0 0 0 rgba(0, 209, 178, 0); }
}


.badge2 {
  position: relative;
  display: inline-block;
  padding: 3px; /* Space for the gradient border */
  border-radius: 12px;
  background: linear-gradient(135deg, #191919, #3c3c3c, #e7e7e7);
  background-size: 300% 300%;
  animation: gradientFlow 5s ease infinite;
  font-weight: 300;
  font-size: 0.75rem;
}

/* The inner content area */
.badge2 span {
  display: block;
  color: #333;
  padding: 0.3em 0.9em;
  border-radius: 9px;
  transition: background 0.3s ease;
}

.badge2:hover span {
  background: transparent;
  color: #fff;
}

@keyframes gradientFlow {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

/* Typography */
h1 {
    font-weight: 500;
    font-size: clamp(2.5rem, 4vw, 3rem);
    letter-spacing: -0.08rem;
    margin: 0 0 0.5rem 0;
}

h2 {
    font-weight: 500;
    font-size: 2.25rem;
    letter-spacing: -0.06rem;
    margin: 0 0 1rem 0;
}

h3 {
    font-weight: 500;
    font-size: clamp(1.25rem, 2vw, 1.5rem);
    letter-spacing: -0.04rem;
    margin: 0 0 0.5rem 0;
}

h4 {
    font-weight: 400;
    font-size: clamp(1rem, 1.5vw, 2rem);
    letter-spacing: -0.04rem;
    margin: 0 0 0.5rem 0;
}

p {
    color: #666;
    font-size: 1rem;
    letter-spacing: -0.04rem;
    margin: 0;
    margin-bottom: 1rem;
    line-height: 1.6;
}

.tagline {
  color: #666;
  font-size: 1.5rem;
  letter-spacing: -0.04rem;
  max-width: 65ch;
  margin-bottom: 2rem;
}

.small {
  text-transform: uppercase;
  font-size: 0.75rem;
  margin-bottom: 0.5rem;
}

.lead {
  font-size: 1.25rem;
  font-weight: 450;
  max-width: 65ch;
  color: #191919;
  margin-bottom: 2rem;
}

a {
    color: #005fcc;
    text-decoration: none;
    letter-spacing: -0.04rem;
    transition: opacity 0.2s ease;
}

li {
  color: #666;
  font-size: 1rem;
  letter-spacing: -0.04rem;
  margin: 0;
  padding-bottom: 0.5rem;
  line-height: 1.6;
}

ul {
    padding-left: 1.5rem;
    list-style-type: disc;
}

span.status {
    letter-spacing: -0.04rem;
    color: green;
    padding: 1rem;
    border-radius: 3rem;
    background-color: greenyellow;
}

/* Interaction states */
a:hover {
    opacity: 0.8;
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
    text-underline-offset: .5rem;
}

/* Grids & layouts */
.bento-grid,
.col-2-layout {
    display: grid;
    place-items: stretch;
    gap: 2rem;
    grid-template-columns: 1fr; /* mobile = 1 column */
  }

.col-1-layout {
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 2rem;
}

.hero-wrapper {
    grid-template-areas:
    "visual"
    "content";   /* content appears AFTER visual in layout */
    row-gap: 1.5rem;
}

.contact-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }

.hero-copy { grid-area: content; }
.hero-visual  { grid-area: visual; }

.btn-group {
    display: flex;
    place-items: center;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.badge-group {
  display: inline-flex;
  gap: 0.75rem;
  margin-bottom: 0.5rem;
}

/* Navbar */
.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    background: #141414;
    border-radius: 24px;
    margin: 1rem auto;

    position: relative;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.navbar-brand svg {
    display: block;
    width: auto;
    height: 2rem;
    fill: #fff;
    transition: fill .2s ease, transform .2s ease;
}


#primary-nav.is-open {              /* show when "open" */
    display: block;
  }

.nav-list {
    display: flex;
    flex-direction: column;             /* <-- forces vertical stack (mobile) */
    list-style: none;
    align-items: start;
    justify-content: center;

    font-weight: 300;
    gap: 2rem;
    margin: 0;
    padding: 0;
    padding-bottom: 0;
}

.nav-list a,
.nav-list li {
    font-size: 1.5rem;
    color: #fff;
    transition: opacity 0.2s ease;
}

.nav-toggle {               /* hamburger button (mobile) */
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: none;
    
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1001;
    cursor: pointer;
  }
  
.nav-toggle:focus-visible {
    outline: 3px solid #4f46e5;
    outline-offset: 4px;
  }
  
.nav-toggle .icon,                  /* --- hamburger icon lines --- */
.nav-toggle .icon::before,
.nav-toggle .icon::after {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background: #111;
    transition: transform 0.25s ease, opacity 0.25s ease;
  }
  
.nav-toggle .icon::before {                 /* stack lines */
    transform: translateY(-5px);
  }
  
.nav-toggle .icon::after {
    transform: translateY(5px);
  }
  
  /* --- becomes X when open --- */
.nav-toggle[aria-expanded="true"] .icon {
    background: transparent;
  }
  
.nav-toggle[aria-expanded="true"] .icon::before {
    transform: rotate(45deg);
  }
  
.nav-toggle[aria-expanded="true"] .icon::after {
    transform: rotate(-45deg);
  }

.mobile-overlay { /* mobile overlay menu */
    top: 80px;             /* same as header height */
    background: #141414;
    color: #fff;

    position: absolute;
    left: 0;
    right: 0;
    width: 100%;     /* now it fills the wrapper width */

    padding: 1.5rem;
    border-radius: 1.5rem;

    display: none;
    z-index: 1500;
  }
  
.mobile-overlay.is-open {
    display: block;
  }
  
.nav-toggle{ order: 3; }
.btn-nav   { order: 2; }
#primary-nav{ order: 1; }
.navbar-brand{ order: 0; }
  

/* Hero */
#hero {
  background-color: #fafafa;
  min-height: 100vh;
}

h1.hero-title {
    margin-bottom: 1rem;
    line-height: 1.3;
}

.hero-cta-group {
    display: inline-flex;
    gap: 1rem;
}

.hero-img {
    border-radius: 100%;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
}

/* Section */
section {
    display: block;
    align-content: center;
    background-color: #fafafa;
    padding: 8rem 0rem;
    margin-inline: auto;
}

.section-header {
    display: flex;
    flex-direction: column;      /* mobile default */
    align-items: flex-start;
    padding-bottom: 2rem;
  }

h3.section-subtitle {
    color: #999;
    font-weight: 400;
    font-size: clamp(1.75rem, 3vw, 2.25rem);
    letter-spacing: -0.06rem;
    margin: 0 0 1rem 0;
}

.section-alternate {
    background-color: #fff;
}



/* Buttons */
.btn {
    display: block;

    font-size: clamp(14px, 16px, 24px);
    line-height: 0;
    letter-spacing: -0.04rem;
    text-align: center;
    text-decoration: none;

    padding: 1.25rem 1.5rem;
    border-radius: 16px;

    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    transform: scale(1);
}

.btn:hover,
.btn:active {
    opacity: 0.8;
    text-decoration: none;
    cursor: pointer;
    transform: scale(1.05);
}

.btn-primary {
    background-color: #141414;
    color: #fff;
    box-shadow: 0px 0px 2px hsla(0,0%,100%,0.8) inset,
                0px 0px 12px hsla(0,0%,25%,0.1);
  
}

.btn-secondary {
    background-color: transparent;
    box-shadow: 0px 0px 2px hsla(0,0%,25%,1) inset,
                0px 0px 12px hsla(0,0%,25%,0.1);
}

.btn-tertiary {
    background-color: #fff;
    color: #141414;
    box-shadow: 0px 0px 2px hsla(0,0%,15%,0.5) inset,
                0px 0px 12px hsla(0,0%,25%,0.1);
}

.btn-nav {
    background-color: #fff;
    color: #141414;
    padding: 1rem 1.5rem;
    border-radius: 12px;
    box-shadow: 0px 0px 2px hsla(0,0%,15%,0.5) inset,
                0px 0px 12px hsla(0,0%,25%,0.1);
}

.card--link {
    display: inline-flex;
    justify-content: start;
    margin-top: 1rem;
}

/* Logo Grid */
.logo-grid {
    display: grid;
    justify-content: center;

    column-gap: 2rem;
    row-gap: 3rem;
    margin-top: 3rem;
    margin-inline: auto;
  
    grid-template-columns: repeat(2, 1fr);
}

.logo-item {
    display: flex;
    align-items: center;
    max-height: 64px;
}

.logo-item img {
    display: block;             /* prevents inline-image quirks */

    width: 100%;                    /* scales down if needed */
    max-height: inherit;
    margin-inline: auto;
    object-fit: contain;

    filter: grayscale(100%);
    opacity: 1;
    transition: filter 0.3s ease, opacity 0.3s ease;
}

.logo-item:hover img,
.logo-item:focus-within img {
    filter: grayscale(0%);
    opacity: 1;
}

/* Contact */

.contact-cta-stack {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
}

.contact-cta-stack a {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  
  font-size: clamp(1.25rem, 2vw, 2rem);
}

.contact-cta-stack a:hover {
text-decoration: none;
}

.contact-cta-stack a:hover .contact-text,
.contact-cta-stack a:hover .arrow_outward {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: .5rem;
}

.arrow_outward {
display: inline-flex; /* Ensures the span wraps the SVG tightly */
align-self: center;
}

.contact-icon svg {
height: 32px;
width: auto;
fill: currentColor;
display: block; /* Prevents strange descender spacing issues */
}

/* Footer */
.footer {
    background-color: #fff;
}

.footer-wrapper {
    padding: 1.5rem 0;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;

}

.footer p {
    font-size: 14px;
    color: #111;
    }

p.footer-copy {
  margin: 0;
}

.footer-social {                /* Social media icons */
    display: flex;
    gap: 1rem;
    justify-content: end;
  }
  
.footer-social svg {
    display: block;
    width: 24px;
    height: 24px;
    fill: #141414;
    transition: fill .2s ease, transform .2s ease;
  }
  
.footer-social a:hover svg,
.footer-social a:focus-visible svg {
    cursor: pointer;
    transform: translateY(-1px);
  }

/* Back to top CTA*/
.back-to-top {
    border: 1px solid #2d2d2d;
    background: #141414;
    color: #fff;
    border-radius: 12px;
    width: fit-content;
    height: fit-content;
    padding: 0.5rem 1rem;
    font-size: 14px;
    cursor: pointer;
    transition: background .2s ease, transform .2s ease, opacity .3s ease, visibility .3s ease;
}
  
.back-to-top:hover,
.back-to-top:focus-visible {
    background: #222;
    transform: translateY(-2px);
}
  
.back-to-top:focus-visible {
    outline: 2px solid #4f46e5;
    outline-offset: 4px;
}

/* Accessibility & inclusive design */
a:focus-visible {
    border-radius: 4px;
    outline: 2px solid #4f46e5;
    outline-offset: 2px;
  }

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}

html {
    scroll-behavior: smooth;
  }

.sr-only { /* screen-reader only text */
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px,1px,1px,1px);
    overflow: hidden;
    white-space: nowrap;
  }

/* Responsive system – scale UP at larger viewports */
@media (min-width: 768px) {

.bento-grid {
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
}

.card--horizontal {
    display: grid;
    grid-template-columns: 1fr 1fr; /* tweak ratio to taste */
    align-items: stretch;
    grid-column: span 2;

  }

  .card--horizontal .card-img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: fit-content;
  }

.col-2-layout {
    grid-template-columns: 1fr 1fr;
}

.logo-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    margin: 0;
}

.hero-wrapper {
        grid-template-areas:
        "content visual";  /* order flips */
}

.contact-wrapper {
    grid-template-columns: 1fr 1fr;
  }

.contact-cta-stack {
    align-items: end;
  }

.footer-wrapper {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  
    grid-template-columns: 1fr auto 1fr;
}

.section-header {
    flex-direction: row;     /* switch to row on desktop */
    align-items: center;
    justify-content: space-between;
    }

.mobile-overlay {
    position: static;      /* ← back in the layout */
    background: transparent;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;

    display: block;        /* always show */
    padding: 0;            /* remove big mobile padding */
}

.nav-toggle {
    display: none; /* hides burger */
}

#primary-nav {
    display: block; /* always visible */
    position: static;
    flex: 1;             /* <— THIS is the centering magic */
}

.nav-list {
    flex-direction: row;
}

.nav-list a,
.nav-list li {
    font-size: revert;
    padding-bottom: 0;
  }

.btn-nav {
    flex-shrink: 0;
  }

}