/* ============ Typography ============ */

/* Headings */
h1 {
    color: var(--ceylon-leaf);
    font-weight: 500;
    font-size: clamp(2.5rem, 4vw, 3rem);
    letter-spacing: -0.08rem;
    margin: 0 0 0.5rem 0;
  }
  
  h2 {
    color: var(--ceylon-leaf);
    font-weight: 500;
    font-size: 2rem;
    letter-spacing: -0.06rem;
    margin: 0;
  }
  
  h3 {
    color: var(--ceylon-leaf);
    font-weight: 500;
    font-size: 1.5rem;
    letter-spacing: -0.04rem;
    margin: 0;
  }
  
  h4 {
    color: var(--ceylon-leaf);
    font-weight: 500;
    font-size: 1.25rem;
    letter-spacing: -0.04rem;
    margin: 0;
  }
  
  /* Paragraphs */
  p {
      font-size: 1rem;
      font-weight: 400;
      letter-spacing: -0.04rem;
      line-height: 1.6;
      max-width: 65ch;
  
      margin-block-start: 0;
      margin-block-end: 0.5rem;
  }
  
  p.tagline {
    color: var(--steeped-bark);
    font-size: 1.5rem;
    margin: 0;
  }
  
  p.small {
    color: var(--roasted-oolong);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.02rem;
    text-transform: uppercase;
    margin-bottom: 0;
  }
  
  p.lead {
    color: var(--steeped-bark);
    font-size: 1.25rem;
    font-weight: 450;
    margin-bottom: 0;
  }
  
  a {
      color: var(--butterfly-pea);
      text-decoration: none;
      letter-spacing: -0.04rem;
      transition: opacity 0.2s ease;
  }
  
  li {
    font-size: 1rem;
    letter-spacing: -0.04rem;
    margin: 0;
    padding-bottom: 0.5rem;
    line-height: 1.6;
  }
  
  li::marker {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 100px;
    text-align: start;
    text-align-last: auto;
  }
  
  ul, ol {
    margin-block: 0;
    padding-inline-start: 1.75rem;
  }
  
  ul {
    list-style-type: disc;
  }
  
  
  strong {
    font-weight: 600;
  }
  
  span.quant {
    font-size: 1.75rem;
    color: var(--steeped-bark);
  }
  
  .notion-quote {
    margin: 1rem 0;
  
    border-left: 3px solid var(--steeped-bark);
    color: var(--steeped-bark);
  
    padding: 0rem 1rem;
    font-size: 1.25rem;
    letter-spacing: -0.04rem;
    line-height: 1.5;
  }
  
  .breadcrumb {       /* Breadcrumb + intro */
    display: flex;
    justify-content: space-between;
    place-items: center;
    margin-bottom: 3rem;
  }
  
  .metadata {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    width: stretch;
    padding: 0;
    gap: 0.5rem;
  }
  
  .title-block {
    display: inline-block;
    gap: 0.5rem;
    margin-block-end: 1rem;
  }