/* ==================== Typography ==================== */
@layer base {
/* Headings */
h1, h2, h3, h4 {
  color: var(--ceylon-leaf);
  font-weight: 500;
  margin: 0;
}

h1 {
    font-size: clamp(2.5rem, 4vw, 3rem);
    line-height: 1.3;
    letter-spacing: -0.12rem;
    margin: 0.5rem 0;
  }
  
h2 {
  font-size: 2rem;
  letter-spacing: -0.1rem;

}

h3 {
  font-size: 1.5rem;
  letter-spacing: -0.06rem;
}

h4 {
  font-size: 1.25rem;
  letter-spacing: -0.08rem;
}
  
/* Paragraphs */
p {
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: -0.04rem;
    line-height: 1.6;
    max-width: 65ch;

    margin-block-start: 0;
    margin-block-end: 0.5rem;
}
  
  p.tagline {
    letter-spacing: -0.06rem;
    font-size: 1.5rem;
    margin: 0;
  }
  
  p.small {
    color: var(--roasted-oolong);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.02rem;
    text-transform: uppercase;
    margin-bottom: 0;
  }
  
  p.lead {
    color: var(--roasted-oolong);
    font-size: 1.25rem;
    font-weight: 450;
    margin-bottom: 0;
  }

/* Links */
a {
  letter-spacing: -0.04rem;
  color: var(--butterfly-pea);
  text-decoration: none;
  position: relative;
  display: inline-flex; /* Helps with alignment */
  align-items: center;
  width: fit-content;

  transition: color 0.2s ease;
}

a:hover {
  color: var(--earl-grey);
}

a:not(.nav-brand, .btn, .footer-social a, .breadcrumb a)::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -4px; /* Adjust distance from text */
  border-radius: 999px;
  left: 0;
  background-color: currentColor;
  
  /* Initial State: Invisible and shrunk */
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s cubic-bezier(0.16, 1, 0.3, 1);
}

a:not(.nav-brand, .btn, .footer-social a, .breadcrumb a):hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

/* Lists */
li {
  font-size: 1rem;
  letter-spacing: -0.04rem;
  margin: 0;
  padding-bottom: 1rem;
  line-height: 1.6;
}

li::marker {
  color: var(--masala-chai);
  unicode-bidi: isolate;
  font-variant-numeric: tabular-nums;
  text-transform: none;
  text-indent: 100px;
  text-align: start;
  text-align-last: auto;
}

ul, ol {
  margin-block: 0;
  padding-inline-start: 1.75rem;
}

ul {
  list-style-type: disc;
}

ol {
  list-style: decimal-leading-zero;
}

/* Misc */
strong {
  font-weight: 550;
}

span.quant {
  font-size: 2rem;
  color: var(--masala-chai);
}

.notion-quote {
  margin: 1rem 0;

  border-left: 3px solid var(--roasted-oolong);
  color: var(--roasted-oolong);

  padding: 0rem 1rem;
  font-size: 1.25rem;
  letter-spacing: -0.06rem;
  line-height: 1.5;
}

.breadcrumb {
  display: flex;
  justify-content: space-between;
  place-items: center;
  margin-bottom: 3rem;
}

.breadcrumb a {
  /* Layout */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 0.25rem;

  /* 2. Sizing */
  width: fit-content;
  justify-content: start;
  border-radius: 0.75rem;
  padding: 0.5rem 0.75rem;
}

.breadcrumb a:hover {
  background-color: var(--steamed-vapor);
  color: var(--earl-grey);
}

.metadata {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  width: stretch;
  padding: 0;
  gap: 0.5rem;
}

.title-block {
  display: inline-block;
  gap: 0.5rem;
  margin-block-end: 1rem;
}
}